header{
  display: flex;
  align-items: center;
  justify-content: center;
}
.GridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
  }
  
  .Card {
    border: 1px solid #ccc; 
    padding: 20px; 
  }
  .CardName{
    font-weight: bold;
  }
.KeyStyle{
  text-decoration: underline;
}